* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url(IMGS/bgforAbtUS.png);
    background-size: cover;
}

.heading h1 {
    color: #FF7828;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

.abt-text {
    flex: 1;
    width: 600px;
    margin: 0px 25px;
}

.abt-text h2 {
    font-size: 38px;
    margin-bottom: 5px;
    color: #333;
}

.abt-text p {
    text-indent:40px;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #050505;
}

.abt-image {
    flex: 1;
    width: 600px;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
