* {
    background-color: #FEFEE9;
}

h1 {
    color: black;
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
    background-color: white;
    width: 30%;
    margin-left: 34%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 15px;
}

textarea {
    background-color: white;
    width: 30%;
    margin-left: 34%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    margin-bottom: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    background-color: white;
    border-color: black;
    border-radius: 20px;
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin: auto;
    color: black;
}

input:focus-within {
    outline: none;
    border-color: grey;
    border-width: 3px;
}

textarea:focus-within {
    outline: none;
    border-color: grey;
    border-width: 3px;
}

button:hover {
    opacity: 50%;
    cursor: pointer;
}