* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FEFEE9;
}
.text-container {
    display: flex; /* Use Flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 100vh; /* Ensure it takes full viewport height */
    width: 100%;
    padding: 10%;
}

.copy-text {
    line-height: 1.5;
    text-align: center; 
    font-size: 18px;
}
