body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('https://scontent.fcrk1-1.fna.fbcdn.net/v/t1.15752-9/440566128_737918558552947_8290443973994845191_n.png?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeESy6IlWcnMdloCc6XoqhSXnERUJ58Ci-ScRFQnnwKL5Iae0lI_nkF4BfMTI_P3HcfQno_83Yr429y43S8HHwwP&_nc_ohc=aDzF9mdvjogQ7kNvgHCoIS2&_nc_ht=scontent.fcrk1-1.fna&oh=03_Q7cD1QGrfI6NKgzqmY8ymRDFMI3plAVWFsqHyDf9yFHmPvC6xg&oe=667EA484');
    background-size: cover;
    background-position: center;
}

.titleCus {
    padding-top: 10px;
    text-align: center;
    margin-top: 5%;
    color: white; /* Set the color to white */
    font-family: Lexend Exa, sans-serif;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;   
    height: auto; /* Adjusted to fit content */
}

.gallery {
    display: flex;
    flex-direction: column; /* Corrected from vertical to column */
    align-items: center;
    width: 80%;
    margin-top: 50px;
    border-radius: 5px;
}

.gallery-item:last-child .gallery-img {
    width: 300px; /* Set width to desired size */
    height: 200px; /* Set height to desired size */
    object-fit: cover; /* Maintain aspect ratio */
    
}

.gallery-item {
    margin: 10px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 6px solid yellow; /* Change border to yellow and increase width to 4px */
    border-radius: 5px;
}


.gallery-img {
    width: 300px; /* Set width to 300 pixels */
    height: 200px; /* Set height to 200 pixels */
    display: block;
    object-fit: cover; /* Ensure images maintain aspect ratio */
}


.label {
    display: block; /* Change to block level element */
    width: 90%; /* Make the label fill the entire width of its container */
    text-align: center;
    margin-top: 10px;
    background-color: gold; /* Add gold background */
    padding: 15px 15px; /* Add padding for better appearance */
    font-family: Arial, sans-serif;
}
.description-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;

}

.description-content {
    background-color: #f5f5dc; /* Light beige background */
    margin: 5% auto; /* Center the content with a 5% margin from top and bottom */
    padding: 20px; /* Padding inside the content */
    border: 4px solid #ffd700; /* Gold border */
    width: 80%; /* Responsive width */
    max-width: 600px; /* Maximum width to prevent overly wide content */
    text-align: center; /* Center-align text */
    position: relative; /* Relative positioning for absolute child elements */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    border-radius: 10px; /* Rounded corners */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column; /* Arrange items in a column */
    height: auto; /* Adjust height dynamically based on content */
}


.description-content img {
    width: 80%;
    height: auto;
    display: block; /* Display the image */
    object-fit: contain; /* Ensure images maintain aspect ratio */
   
}

.close-button {
    display: none; /* Initially hide the close button */
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    color: black; /* Change button color */
}

.close-button:hover,
.close-button:focus {
    color: white; /* Change button color on hover/focus */
}

.description-text {
    display: none;
    color: #555;
    background-color: white; /* Add white background color */
    padding: 10px; /* Add padding for better appearance */
    border-radius: 5px; /* Add border radius for rounded corners */
}

.description-modal.active {
    display: block; /* Show the description modal */
}

.description-modal.active .close-button {
    display: block; /* Show the close button when modal is active */
}