
*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url(IMGS/bgFestival.png);
    background-size: cover;
}

.main-container{
    padding: 90px;
    margin:100px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap:20px; /* gap within mainvid and listvid */
}

.main-container .main-video-container{
    flex:1 1 700px; /* size of the main vid */
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    background-color: #fff;
    padding: 20px;
}

.main-container .main-video-container .main-video{ /* main vid element */
    margin-bottom: 7px;
    border-radius: 5px;
    width: 100%;
}

.main-container .main-video-container .main-vid-title{ /* title */
    font-size: 20px;
    color:#444;
}

.main-container .video-list-container{ /* container for listvid */
    flex:1 1 350px;
    height: 485px;
    overflow-y: scroll;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    background-color: #fff;
    padding:15px;
}

.main-container .video-list-container::-webkit-scrollbar{ /*scrollbar */
    width: 10px;
}

.main-container .video-list-container::-webkit-scrollbar-track{ /* scrollbar color */
    background-color: #fff;
    border-radius: 5px;
}

.main-container .video-list-container::-webkit-scrollbar-thumb{ /* when click */
    background-color: #444;
    border-radius: 5px;
}

.main-container .video-list-container .list{
    display: flex;
    align-items: center;
    gap:15px;
    padding:10px;
    background-color: #eee;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

.main-container .video-list-container .list.active{
    background-color: #444;
}

.main-container .video-list-container .list.active .list-title{
    color:#fff;
}
 
.main-container .video-list-container .list .list-video{ /* listvid tumbnail */
    width: 100px;
    border-radius: 5px;
}

.main-container .video-list-container .list .list-title{
    font-size: 17px;
    color:#444;
}
