@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

/*Gallery*/

.gal{
    text-align: center;
    font-size: 80px;
    color: #2BB434;
    padding-bottom: 50px;
}

.title{
    font-family: "Protest Revolution";
    text-align: center;
    font-size: 40px;
}

body{
   background: #F4F5FA;
}

.flex-box{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.card{
   background: #FFF;
   width: 500px;
   margin: 20px;
   box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
   box-sizing: border-box;
   padding: 20px;
   border-radius: 5px;
}

.galsec{
   background-image: linear-gradient(to top, #ffb012bd,rgb(255, 255, 255));
   padding-top: 80px;
   padding-bottom: 100px;
}
/*ANGELES PICS*/
.img1{
   height: 450px;
   width: 100%;
   background-image: url(IMGS/Angeles\ 1gal.png);
   border-radius: 5px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.img2{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/Angeles\ 2gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }

 .img3{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/Angeles\ 3gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }

 .img4{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/Angeles\ 4gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }

 .img5{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/Angeles\ 5gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }

 .img6{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/Angeles\ 6gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }

/*APALIT PICS*/
.img7{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/apalit\ 1gal.jpg);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 
 .img8{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/apalit\ 2gal.jpg);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img9{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/apalit\ 3gal.jpg);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
/*ARAYAT PICS*/
.img13{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/Arayat\ 1gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 
 .img14{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Arayat\ 2gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img15{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Arayat\ 3gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img16{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Arayat\ 4gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img17{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Arayat\ 5gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img18{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Arayat\ 6gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }

/*BACOLOR PICS*/
.img19{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/Bacolor\ 1gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 
 .img20{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Bacolor\ 2gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img21{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Bacolor\ 3gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img22{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Bacolor\ 4gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img23{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Bacolor\ 5gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 /*CANDABA PICS*/
 .img24{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/Candaba\ 1gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 
 .img25{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Candaba\ 2gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img26{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Candaba\ 3gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img27{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Candaba\ 4gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
  /*FLORIDA PICS*/
 .img28{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/Florida\ 1gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 
 .img29{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Florida\ 2gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img30{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Florida\ 3gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img31{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Florida\ 4gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
  /*GUAGUA PICS*/
 .img32{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/Guagua\ 1gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 
 .img33{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Guagua\ 2gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img34{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Guagua\ 3gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img35{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Guagua\ 4gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 /*LUBAO PICS*/
 .img36{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/Lubao\ 1gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 
 .img37{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Lubao\ 2gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img38{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Lubao\ 3gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img39{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Lubao\ 4gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
/*MABALACAT PICS*/
.img40{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/mabalacat\ 1gal.jpg);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 
 .img41{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/mabalacat\ 2gal.jpg);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img42{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/mabalacat\ 3gal.jpg);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img43{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/mabalacat\ 4gal.jpg);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
  /*MACABEBE PICS*/
.img44{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/Macabebe\ 1gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 
 .img45{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Macabebe\ 2gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img46{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Macabebe\ 3gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img47{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Macabebe\ 4gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
    /*MAGALANG PICS*/
.img48{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/Macabebe\ 1gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 
 .img49{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Magalang\ 2gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img50{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Magalang\ 3gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img51{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Magalang\ 4gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 /*MASANTOL PICS*/
.img52{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/Masantol\ 1gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 
 .img53{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Masantol\ 2gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img54{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Masantol\ 3gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img55{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Masantol\ 4gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
  /*MEXICO PICS*/
.img56{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/Mexico\ 1gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 
 .img57{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Mexico\ 2gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img58{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Mexico\ 3gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img59{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Mexico\ 4gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
    /*MINALIN PICS*/
.img60{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/Minalin\ 1gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 
 .img61{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Minalin\ 2gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img62{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Minalin\ 3gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img63{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Minalin\ 4gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
  
  /*PORAC PICS*/
.img64{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/Porac\ 1gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 
 .img65{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Porac\ 2gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img66{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Porac\ 3gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img67{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/Porac\ 4gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
    /*SANFERNANDO PICS*/
.img68{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/San\ Fernando\ 1gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 
 .img69{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/San\ Fernando\ 2gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img70{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/San\ Fernando\ 3gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
      
.img71{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/San\ Fernando\ 4gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
    /*SANLUIS PICS*/
 .img72{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/San\ luis\ 1gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img73{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/San\ luis\ 2gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img74{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/San\ luis\ 3gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
 
  .img75{
     height: 450px;
     width: 100%;
     background-image: url(IMGS/San\ luis\ 4gal.png);
     border-radius: 5px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
  }
      /*SANSIMON PICS*/
 .img76{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/San\ simon\ 1gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }

 .img77{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/San\ simon\ 2gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }

 .img78{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/San\ simon\ 3gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }

 .img79{
    height: 450px;
    width: 100%;
    background-image: url(IMGS/San\ simon\ 4gal.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
      /*SASMUAN PICS*/
      .img80{
        height: 450px;
        width: 100%;
        background-image: url(IMGS/Sasmuan\ 1gal.png);
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
     }
    
     .img81{
        height: 450px;
        width: 100%;
        background-image: url(IMGS/Sasmuan\ 2gal.png);
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
     }
    
     .img82{
        height: 450px;
        width: 100%;
        background-image: url(IMGS/Sasmuan\ 3gal.png);
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
     }
    
     .img83{
        height: 450px;
        width: 100%;
        background-image: url(IMGS/Sasmuan\ 4gal.png);
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
     }     
           /*STAANA PICS*/
           .img84{
            height: 450px;
            width: 100%;
            background-image: url(IMGS/Sta\ ana\ 1gal.png);
            border-radius: 5px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
         }
        
         .img85{
            height: 450px;
            width: 100%;
            background-image: url(IMGS/Sta\ ana\ 2gal.png);
            border-radius: 5px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
         }
        
         .img86{
            height: 450px;
            width: 100%;
            background-image: url(IMGS/Sta\ ana\ 3gal.png);
            border-radius: 5px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
         }
        
         .img87{
            height: 450px;
            width: 100%;
            background-image: url(IMGS/Sta\ ana\ 4gal.png);
            border-radius: 5px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
         }  
             /*STARITA PICS*/
              .img88{
                height: 450px;
                width: 100%;
                background-image: url(IMGS/Sta\ rita\ 1gal.png);
                border-radius: 5px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
             }
            
             .img89{
                height: 450px;
                width: 100%;
                background-image: url(IMGS/Sta\ rita\ 2gal.png);
                border-radius: 5px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
             }
            
             .img90{
                height: 450px;
                width: 100%;
                background-image: url(IMGS/Sta\ rita\ 3gal.png);
                border-radius: 5px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
             }
            
             .img91{
                height: 450px;
                width: 100%;
                background-image: url(IMGS/Sta\ rita\ 4gal.png);
                border-radius: 5px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
             }  
    /*STOTOMAS PICS*/
    .img92{
        height: 450px;
        width: 100%;
        background-image: url(IMGS/Sto\ tomas\ 1gal.png);
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
     }
    
     .img93{
        height: 450px;
        width: 100%;
        background-image: url(IMGS/Sto\ tomas\ 2gal.png);
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
     }
    
     .img94{
        height: 450px;
        width: 100%;
        background-image: url(IMGS/Sto\ tomas\ 3gal.png);
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
     }
    
     .img95{
        height: 450px;
        width: 100%;
        background-image: url(IMGS/Sto\ tomas\ 4gal.png);
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
     } 





