@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Headers */
.main_header {
    width: auto;
    height: 100vh; /* Keep the header taking the full viewport height */
    background-image: url(IMGS/Home.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px; /* Ensure the content is well-spaced */
}

.event_header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
}

.copyright_header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
}

.travelTips_header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
}

.cuisine_header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
}

.wheretogo_header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
}

/* About Pampanga */
.abtPampCon {
    background-image: url(IMGS/bgText.png);
    height: auto;
    width: auto;
}

.abtPamp {
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 50px;
    line-height: 1.5;
}

.abtPamp h1 {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 6vmin;
    color: #FF7828;
    font-family: "Protest Revolution";
}

/* NAV */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.logocon img {
    padding-top: 40px;
    padding-right: 50px;
    height: 180px;
    width: auto;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px;
    color: whitesmoke;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    height: 60px;
    align-items: center;
}


.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    margin: 0px 20px;
    padding-right: 70px;
    font-size: 20px;
    color: black;
}

/* Pampanga Map */
section {
    width: 80%;
    margin: auto;
}

.title {
    padding-top: 10px;
    text-align: center;
    font-size: 4vmin;
    color: #FF7828;
    font-family: Lexend Exa, sans-serif;
}

.mapcon {
    text-align: center;
    padding-top: 50px;
}

.mapsec {
    background-color: #FEFEE9;
    padding-top: 50px; /* Add padding at the top to create space */
    padding-bottom: 50px; /* Ensure space before the footer */
    min-height: auto; /* Ensure it takes at least the full viewport height */
}

/* FOOTER */
.footerContainer {
    width: 100%;
    background-color: #312B26;
    padding-top: 20px; /* Added padding to create space between map and footer */
}

.footerContent {
    display: flex;
    justify-content: space-between; /* Align content to the sides */
    align-items: center; /* Center content vertically */
    padding: 0 20px; /* Add padding to the content */
}

/* Icons */
.socialIcons {
    display: flex;
    margin-bottom: 15px;
    padding-left: 45%;
}

.iconContainer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #49423c; /* Set default background color */
}

.socialIcons a {
    text-decoration: none;
    margin: 10px;
    display: inline-flex; /* Ensure proper alignment */
    align-items: center; /* Ensure proper alignment */
    justify-content: center; /* Ensure proper alignment */
}

.socialIcons a i {
    font-size: 2em;
    color: black; /* Set default icon color */
    opacity: 0.9;
}

/* Hover effect on social media icon */
.socialIcons a:hover .iconContainer {
    background-color: black; /* Change background color on hover */
}

.socialIcons a:hover i {
    color: white; /* Change icon color on hover */
    transition: 0.5s;
}

.footerNav {
    text-align: right; /* Align the navigation to the right */
}

.footerNav ul {
    list-style-type: none;
}

.footerNav ul li {
    display: inline-block;
    margin-left: 20px; /* Add spacing between navigation items */
}

.footerNav ul li:first-child {
    margin-left: 0; /* Remove margin for the first item */
}

.footerNav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

/* FooterBottom */
.footerBottom {
    background-color:#2c241e;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
    opacity: 0.7;
}

.footerBottom a {
    text-decoration: none;
    color: white;
    opacity: 0.7;
}

.footerBottom a:hover {
    opacity: 1;
    transition: 0.5s;
}