* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.logocon img {
    padding-top: 40px;
    padding-right: 50px;
    height: 180px; /* Make the logo fit the navbar height */
    width: auto; /* Maintain aspect ratio */
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px;
    color: whitesmoke;
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(5px);
    height: 60px; /* Set a fixed height */
    align-items: center; /* Ensure content is centered vertically */
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    margin: 0px 20px; /* Changing the space in nav bar list */
    padding-right: 70px;
    font-size: 20px;
    color: black;
}