.sidenav {
	background: #e7e7d1;
	position: fixed;
	height: 100%;
	width: 15%;
	padding-top: 20px;
}

.sidenav a {
	color: black;
	padding: 10px 15px 10px 16px;
	text-decoration: none;
	font-size: 18px;
	display: block;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.sidenav a:hover {
	background: #8f8f80;
}

h2 {
	padding: 10px 15px 10px 16px;
	color:black;
	border-bottom-style: solid; /* border */
	font-size: 30px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h3 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.main { /* Main text container */
	background-image: url(IMGS/bgTravelTips.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: auto;
	height: auto;
	margin-left: 15%;
	padding: 4px 10px;
	color: black;
	display: inline-block;
}

/* TEXT */
.inText {
	padding-left: 40px;
	font-size: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.ptrav {
	font-size: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}